<div id="customer-form">
    <h1 id="login-form">Form</h1>
    <div class="container mt-5">
        <h2>Formularz wprowadzenia klienta</h2>
        <form #f="ngForm" id="clientForm" (ngSubmit)="handleSubmit(f)">
            <div class="form-group">
                <label for="nazwaFirmy">Nazwa firmy *</label>
                <input type="text" class="form-control" name="nazwaFirmy" #nazwaFirmy="ngModel" [(ngModel)]="customer.nazwaFirmy" id="nazwaFirmy" required>
                <div class="invalid-feedback" [hidden]="nazwaFirmy.valid || nazwaFirmy.untouched" class="alert alert-danger">
                    Pole nazwa firmy nie może być puste
                </div>
            </div>
            <div class="form-group">
                <label for="nip">NIP *</label>
                <input type="text" class="form-control" name="nip" [(ngModel)]="customer.nip" id="nip" required>
            </div>
            <div class="form-group">
                <label for="miasto">Miasto *</label>
                <input type="text" class="form-control" name="miasto" [(ngModel)]="customer.miasto" id="miasto" required>
            </div>
            <div class="form-group">
                <label for="ulica">Ulica *</label>
                <input type="text" class="form-control" name="ulica" [(ngModel)]="customer.ulica" id="ulica" required>
            </div>
            <div class="form-group">
                <label for="numerDomu">Numer domu *</label>
                <input type="text" class="form-control" name="numerDomu" [(ngModel)]="customer.numerDomu" id="numerDomu" required>
            </div>
            <div class="form-group">
                <label for="numerMieszkania">Numer mieszkania</label>
                <input type="text" class="form-control" name="numerMieszkania" [(ngModel)]="customer.numerMieszkania" id="numerMieszkania">
            </div>
            <div class="form-group">
                <label for="kodPocztowy">Kod pocztowy</label>
                <input type="text" class="form-control" name="kodPocztowy" [(ngModel)]="customer.kodPocztowy" id="kodPocztowy">
            </div>
            <div class="form-group">
                <label for="uwagi">Uwagi</label>
                <textarea class="form-control" name="uwagi" [(ngModel)]="customer.uwagi" id="uwagi" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label for="branza">Branża</label>
                <select class="form-select" name="branza" [(ngModel)]="customer.branza" id="branza" aria-label="Default select example" required>
                    <option selected disabled value="">Wybierz branżę</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="Aktywny" name="aktywny" [(ngModel)]="customer.aktywny" id="aktywny">
                <label class="form-check-label" for="aktywny">
                    Aktywny
                </label>
            </div>
            <!-- <button type="submit" class="btn btn-primary">Zatwierdź</button> -->
            <button type="submit" class="btn btn-primary" id="zapiszBtn" [disabled]="f.invalid">Zapisz</button>
            <button type="button" class="btn btn-secondary" id="wstawDaneBtn" onclick="addDataToForm(getCustomer())">Wstaw Dane</button>
            <button type="button" class="btn btn-secondary" id="wstawPusteDaneBtn" onclick="addDataToForm(getEmptyCustomer())">Wstaw Puste Dane</button>
        </form>
    </div>
</div>
{{customer|json}}